.input__wrapper {
  position: relative;
}

.input__default {
}

.input__default,
.input__search,
.input__form {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.input__search {
  padding: 6px 10px 6px 40px;
  border-radius: 5px;
  width: 100%;
}

.input__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  display: flex;
  align-items: center;
}

.input__icon img {
  height: 20px;
  width: 20px;
}

.input__form {
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
}
