.btn {
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.btn_default {
  padding: 5px 25px;
  font-family: inherit;
  background-color: #e3e3e3;
  transition: background-color 500ms ease;
}

.btn_default:hover {
  background-color: rgba(255, 0, 183, 0.5);
}

.btn_icon {
  background: none;
  padding: 0;
  margin: 0;
  transition: box-shadow 500ms ease;
}

.btn_icon img {
  display: block;
}

.btn_icon:hover {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
